  
{
    "extends": [
      "airbnb-base",
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "env": {
      "mocha": true,
      "browser": true,
      "es6": true,
      "jest": true
    },
    "rules": {
      "class-methods-use-this": "off",
      "space-before-function-paren": "off",
      "camelcase": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2019
    }
  }
  